body {
    zoom: 0.9;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#selected-supplements-space-container li {
    animation: fadeIn 0.8s ease;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation: fadeOut 0.8s ease forwards;
}


/* Стили для контейнера добавок */
#supplements-container {
    border: none;
    display: flex; /* Использует flexbox для управления расположением элементов */
    width: 70%; /* Занимает 70% ширины экрана */
    margin: 15px auto; /* Центрирует элемент и добавляет отступ сверху и снизу */
}
#supplements-menu {
    display: flex;
    flex-direction: column; /* Добавлено: элементы располагаются в колонку */
    align-items: center; /* Добавлено: выравнивает элементы по центру */
    justify-content: center; /* Добавлено: выравнивает элементы по центру */
}
#reset-button {
    width: 80%; /* Добавлено: устанавливает ширину кнопки */
    height: 50px; /* Добавлено: устанавливает высоту кнопки */
    font-size: 20px; /* Добавлено: устанавливает размер шрифта кнопки */
}
#selected-supplements-space-container {
    width: 70%; 
    display: flex;
    margin: 0 10px;
    position: relative;
    justify-content: space-between;
}
/* Стили для области отображения выбранных добавок */
#selected-supplements-space {
    list-style: none;

    position: relative; /* делает область относительно позиционированной */
    width: 300px; /* задает ширину области */
    height: 300px; /* задает высоту области */
    margin: 20px auto; /* центрирует область */
}

#selected-supplements-space li {
    position: absolute; /* делает элементы абсолютно позиционированными */
    width: 50px; /* задает ширину элементов */
    height: 50px; /* задает высоту элементов */
    left: 50%; /* центрирует элементы по горизонтали */
    top: 50%; /* центрирует элементы по вертикали */
    transform-origin: 50% 100%; /* задает точку преобразования */
    font-size: 30px; /* устанавливает крупный размер шрифта */
}
#incompatibility-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: transparent;
}


/* Стили для области отображения списка добавок */
#supplements-menu {
    z-index: 1000;
    border: none;
    margin: 0 10px;
    width: 30%; 
    min-height: 200px; /* Задает минимальную высоту */
}

#search-container {
    position: relative; /* Делает контейнер относительно позиционированным, чтобы результаты автозаполнения могли быть абсолютно позиционированы относительно него */
    width: 70%; /* Занимает 70% ширины экрана */
    margin: 0 auto; /* Центрирует элемент */
}

#search-input {
    width: 100%; 
    font-size: 1.5em; 
    display: block; 
    background-color: black; /* Добавлено: темный фон */
    color: white; /* Добавлено: белый текст */
}

#autocomplete-results {
    position: absolute;
    font-size: 1.1em; 
    width: 100%; 
    background-color: black; /* Добавлено: темный фон */
    /* border: 2px solid #333; */
    z-index: 998;
    max-height: 120px; 
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px #333;
}

#autocomplete-results div {
    padding: 10px;
    color: white; /* Изменено: белый текст */
    cursor: pointer;
}



.supplement > img {
    max-width: 5%;
}

#supplements-list {
    column-count: 4;
    column-gap: 5px;
    text-align: center;
    padding-left: 0; /* убирает отступ слева */
}

#supplements-list li {
    list-style: none;
    border: 2.5px solid white; /* рамка вокруг каждого сапплемента */
    color: white; /* белый цвет текста */
    padding: 10px; /* отступ внутри рамки */
    margin-bottom: 5px; /* отступ между элементами списка */
    transition: border-color 1s ease; /* плавное изменение цвета рамки */
    font-size: large;
}

#supplements-list li.selected {
    border-color: green; /* цвет рамки для выбранных сапплементов */
}

#compatibility-result {
    width: 70%; /* задает ширину блока */
    margin: auto; /* центрирует блок */
    font-size: 20px; /* увеличивает размер шрифта */
}

