/* Стили для контейнера добавок */
#supplements-container {
    border: none;
    display: flex; /* Использует flexbox для управления расположением элементов */
    width: 60%; /* Занимает 80% ширины экрана */
    margin: 20px auto; /* Центрирует элемент и добавляет отступ сверху и снизу */
}

/* Стили для области отображения выбранных добавок */
#selected-supplements-space {
    list-style: none;
    position: relative; /* делает область относительно позиционированной */
    width: 300px; /* задает ширину области */
    height: 300px; /* задает высоту области */
    margin: 0 auto; /* центрирует область */
}

#selected-supplements-space li {
    position: absolute; /* делает элементы абсолютно позиционированными */
    width: 50px; /* задает ширину элементов */
    height: 50px; /* задает высоту элементов */
    left: 50%; /* центрирует элементы по горизонтали */
    top: 50%; /* центрирует элементы по вертикали */
    transform-origin: 50% 100%; /* задает точку преобразования */
}

/* Стили для области отображения списка добавок */
#supplements-menu {
    border: none;
    width: 10%; 
    min-height: 200px; /* Задает минимальную высоту */
}

#search-input {
    width: 60%; /* Занимает 60% ширины экрана */
    margin: 0 auto; /* Центрирует элемент */
    font-size: 1.5em; /* Устанавливает крупный размер шрифта */
    display: block; /* Делает элемент блочным, чтобы он занимал всю ширину */
}


.supplement > img {
    max-width: 5%;
}

#supplements-list {
    padding-left: 0; /* убирает отступ слева */
}

#supplements-list li {
    list-style: none;
    border: 2px solid white; /* рамка вокруг каждого сапплемента */
    color: white; /* белый цвет текста */
    padding: 10px; /* отступ внутри рамки */
    margin-bottom: 5px; /* отступ между элементами списка */
    transition: border-color 1s ease; /* плавное изменение цвета рамки */
}

#supplements-list li.selected {
    border-color: green; /* цвет рамки для выбранных сапплементов */
}

#compatibility-result {
    width: 60%; /* задает ширину блока */
    margin: auto; /* центрирует блок */
    font-size: 20px; /* увеличивает размер шрифта */
}